*.css linguist-detectable=false
*.scss linguist-detectable=false
*.html linguist-detectable=false
*.ipynb linguist-detectable=false
*.c linguist-detectable=false
*.cpp linguist-detectable=false
*.php linguist-detectable=false
*.js linguist-detectable=false


# The above will handle all files NOT found below


*.html linguist-vendored
*.htm linguist-vendored
*.ipynb linguist-vendored
*.php linguist-vendored
*.PHP linguist-vendored

# Documents
*.bibtex   linguist-vendored
*.doc      linguist-vendored
*.DOC      linguist-vendored
*.docx     linguist-vendored
*.DOCX     linguist-vendored
*.dot      linguist-vendored
*.DOT      linguist-vendored
*.pdf      linguist-vendored
*.PDF      linguist-vendored
*.rtf      linguist-vendored
*.RTF      linguist-vendored
*.md       linguist-vendored
*.mdx      linguist-vendored
*.tex      linguist-vendored
*.adoc     linguist-vendored
*.textile  linguist-vendored
*.mustache linguist-vendored
*.csv      linguist-vendored
*.tab      linguist-vendored
*.tsv      linguist-vendored
*.txt      linguist-vendored
*.sql      linguist-vendored
*.epub     linguist-vendored

# Graphics
*.png      linguist-vendored
*.jpg      linguist-vendored
*.jpeg     linguist-vendored
*.gif      linguist-vendored
*.tif      linguist-vendored
*.tiff     linguist-vendored
*.ico      linguist-vendored
# SVG treated as text by default.
*.svg      linguist-vendored
# If you want to treat it as binary,
# use the following line instead.
# *.svg    linguist-vendored
*.eps      linguist-vendored

# Scripts
*.bash     linguist-vendored
*.fish     linguist-vendored
*.sh       linguist-vendored
*.zsh      linguist-vendored
# These are explicitly windows files and should use crlf
*.bat      linguist-vendored
*.cmd      linguist-vendored
*.ps1      linguist-vendored

# Serialisation
*.json     linguist-vendored
*.toml     linguist-vendored
*.xml      linguist-vendored
*.yaml     linguist-vendored
*.yml      linguist-vendored

# Archives
*.7z       linguist-vendored
*.gz       linguist-vendored
*.tar      linguist-vendored
*.tgz      linguist-vendored
*.zip      linguist-vendored

# Text files where line endings should be preserved
*.patch    linguist-vendored

#
# Exclude files from exporting
#

.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore
